<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title data-i18n='litw-template-title'></title>

		<!-- open graph tags -->
		<meta property="og:site_name" content="LabintheWild" />
		<meta property="og:title" content="LITW Rural Computing Project" />
		<meta property="og:url" content="" />
		<meta property="og:image" content="" />
		<meta property="og:description" content="LITW Rural Computing Project" />
		
		<!-- ***** stylesheets ***** -->
		<link href="js/bootstrap.min-3_3_7.css" rel="stylesheet" type="text/css">

		<!-- if using form autocompletion, include a jQueryUI css template -->
		<link href="js/jquery-ui-1_12_1.css" rel="stylesheet" type="text/css">

		<!-- jsPsych styles -->
		<link href="js/jsPsych-5.0.3/css/jspsych.css" rel="stylesheet" type="text/css">

   		<!-- LITW base styles -->
		<link href="css/litw-styles.css?v=1.07" rel="stylesheet" type="text/css">

	</head>
	
	<body>
		<div id="content">
			<div id="header">
				<a href='http://www.labinthewild.org'>
					<img src='img/LITW-logo2020.png' alt='logo' id='logo'/>
				</a>
				<div class='separator'>&nbsp;</div>
			</div>
			<div id="progress-header"></div>
 			<div id="img-loading" class="slide"></div>
			<div id="irb" class="slide"></div>
			<div id="demographics" class="slide"></div>
			<div id="pickTechnology" class="slide"></div>
			<div id="useTechnology" class="slide"></div>
			<div id="comments" class="slide"></div>
			<div id="results" class="slide"></div>
			<div id="btn-next-page"></div>
			<div id="ajax-working"></div>
	   		<!--<<div id="empty" class="slide"></div>-->
		</div>

        <!-- Google Maps: KEY only works on *.labinthewild.org pages!-->
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUOX2LHIHoUCpid3oVOLeuX-kODKH8XA4&libraries=&v=weekly"
        defer></script>


		<!-- LITW modules --> 
		<script src="js/litw/litw.utils.0.1.js"></script>
		<script src="js/litw/litw.results.0.1.js"></script>
	 	<script src="js/litw/litw.share.0.1.js"></script>
		<script src="js/litw/litw.data.1.0-alpha.js"></script>
	 	<script src="js/litw/litw.tracking.noapi.0.1.js"></script>
	 	<script src="js/litw/litw.comments.0.1.js"></script>
	 	<script src="js/litw/litw.locale.0.1.js"></script>
        <!-- TODO: Depends on Google Maps API -->
        <script src="js/litw/litw.geocoding.0.1.js"></script>

 		<!-- jspsych -->
		<script src="js/jsPsych-5.0.3/jspsych.js"></script>
		<script src="js/jsPsych-5.0.3/plugins/jspsych-call-function.js"></script>


		<!-- study_client code and content -->
		<script src="dist/bundle.min.js?v=1.23"></script>
		<script src="js/jquery.i18n.js" type="text/javascript"></script>
		<script src="js/jquery.i18n.messagestore.js" type="text/javascript"></script>
        <script type="text/javascript" src="js/handlebars.js"></script>
        <script type="text/javascript" src="js/alpaca.min.js"></script>

	</body>
</html>
