<!DOCTYPE html>
<html>
    <head>
        <title> Card Pages </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" type="text/css" href="deckstyle.css">
    </head>
    <body onload="myFunction()">
        <script>
            function myFunction() {
                var x = document.getElementById("smallContainer").style.pointerEvents
                //alert("Page is loaded");
                //alert(x.valueOf);
            }
                        //all click functions 
            val = document.getElementById('smallContainer').style.pointerEvents;
            alert("print this")

            function card1Click() //card is Clicked 
            {
                alert("Card 1 was clicked!");
                document.getElementById('card1box').style.transform = "rotateY(180deg)";
                document.getElementById('Card1Flip').style.transform = "rotateY(0deg)";
                
                document.getElementById('card1box').style.opacity = 0;
                document.getElementById('Card1Flip').style.opacity = 1;
                document.getElementById('Card1Flip').style.transform = "scale(1.1)"; //increases scale of selected card

                //Makes everything except this card unclickable
                document.getElementById('smallContainer').style.pointerEvents = "none"; //brings clickable events to the bigger container above
                //document.getElementById('card1box').style.pointerEvents  = "none";
                //document.getElementById('card2box').style.pointerEvents  = "none";
                //document.getElementById('card3box').style.pointerEvents  = "none";
                //document.getElementById('card4box').style.pointerEvents  = "none";
                document.getElementById('Card2Flip').style.pointerEvents = "none";
                document.getElementById('Card3Flip').style.pointerEvents = "none";
                document.getElementById('Card4Flip').style.pointerEvents = "none";

                // Dim the color of other cards
                document.getElementById('card2box').style.opacity = 0.3;
                document.getElementById('card3box').style.opacity = 0.3;
                document.getElementById('card4box').style.opacity = 0.3;
            }

            function card2Click() //card is Clicked 
            {
                alert("Card 2 was clicked!");
                document.getElementById('card2box').style.transform = "rotateY(180deg)";
                document.getElementById('Card2Flip').style.transform = "rotateY(0deg)";
                document.getElementById('Card2Flip').style.transform = "scale(1.1)"; //increases scale of selected card
                
                //Makes everything except this card unclickable
                document.getElementById('smallContainer').style.pointerEvents = "none"; //brings clickable events to the bigger container above
                document.getElementById('Card1Flip').style.pointerEvents = "none";
                document.getElementById('Card3Flip').style.pointerEvents = "none";
                document.getElementById('Card4Flip').style.pointerEvents = "none";

                document.getElementById('card2box').style.opacity = 0;
                document.getElementById('Card2Flip').style.opacity = 1;

                // Dim the color of other cards
                document.getElementById('card1box').style.opacity = 0.3;
                document.getElementById('card3box').style.opacity = 0.3;
                document.getElementById('card4box').style.opacity = 0.3;
            }
            function card4Click() //card is Clicked 
            {
                alert("Card 4 was clicked!");
                document.getElementById('card4box').style.transform = "rotateY(180deg)";
                document.getElementById('Card4Flip').style.transform = "rotateY(0deg)";

               //Makes everything except this card unclickable
               document.getElementById('smallContainer').style.pointerEvents = "none"; //brings clickable events to the bigger container above
                document.getElementById('Card1Flip').style.pointerEvents = "none";
                document.getElementById('Card3Flip').style.pointerEvents = "none";
                document.getElementById('Card2Flip').style.pointerEvents = "none";

                document.getElementById('Card4Flip').style.transform = "scale(1.1)"; //increases scale of selected card
                document.getElementById('card4box').style.opacity = 0;
                document.getElementById('Card4Flip').style.opacity = 1;
                // Dim the color of other cards
                document.getElementById('card1box').style.opacity = 0.3;
                document.getElementById('card3box').style.opacity = 0.3;
                document.getElementById('card2box').style.opacity = 0.3;
            }
            
            function card33Click() //card is Clicked 
            {
                alert("Card 3 was clicked!");
                document.getElementById('card3box').style.transform = "rotateY(180deg)";
                document.getElementById('Card3Flip').style.transform = "rotateY(0deg)";

               //Makes everything except this card unclickable
               document.getElementById('smallContainer').style.pointerEvents = "none"; //brings clickable events to the bigger container above
                document.getElementById('Card1Flip').style.pointerEvents = "none";
                document.getElementById('Card4Flip').style.pointerEvents = "none";
                document.getElementById('Card2Flip').style.pointerEvents = "none";

                document.getElementById('Card3Flip').style.transform = "scale(1.1)"; //increases scale of selected card
                document.getElementById('card3box').style.opacity = 0;
                document.getElementById('Card3Flip').style.opacity = 1;
                // Dim the color of other cards
                document.getElementById('card2box').style.opacity = 0.3;
                document.getElementById('card4box').style.opacity = 0.3;
                document.getElementById('card1box').style.opacity = 0.3;
            }

           // document.getElementById("demo").onclick = function() {card3Click()};  //function for href click even 
            function card3Click() //card is Clicked 
            {
                alert("Card 3 was clicked!");
                document.getElementById('card3box').style.transform = "rotateY(180deg)";
                document.getElementById('Card3Flip').style.transform = "rotateY(0deg)";
                
                //Makes everything except this card unclickable
                document.getElementById('smallContainer').style.pointerEvents = "none"; //brings clickable events to the bigger container above
                document.getElementById('Card1Flip').style.pointerEvents = "none";
                document.getElementById('Card4Flip').style.pointerEvents = "none";
                document.getElementById('Card2Flip').style.pointerEvents = "none";

                document.getElementById('Card3Flip').style.transform = "scale(1.1)"; //increases scale of selected card
                document.getElementById('card3box').style.opacity = 0;
                document.getElementById('Card3Flip').style.opacity = 1;
                // Dim the color of other cards
                document.getElementById('card2box').style.opacity = 0.3;
                document.getElementById('card4box').style.opacity = 0.3;
                document.getElementById('card1box').style.opacity = 0.3;
            }

            //All Flip functions below
            function card1Flip()
            {
                alert("Card 1 is going to be flipped back .. !");
                document.getElementById('card1box').style.transform = "rotateY(0deg)";
                document.getElementById('Card1Flip').style.transform = "rotateY(180deg)";
                
                document.getElementById('card1box').style.opacity = 1;
                document.getElementById('Card1Flip').style.opacity = 0;

                //Makes everything clickable back again
                document.getElementById('smallContainer').style.pointerEvents = "all";  //moves the clickables to the smaller container below
                document.getElementById('Card3Flip').style.pointerEvents = "auto";
                document.getElementById('Card4Flip').style.pointerEvents = "auto";
                document.getElementById('Card2Flip').style.pointerEvents = "auto";

                //Bring the cards colors back which were dimmed
                document.getElementById('card2box').style.opacity = 1;
                document.getElementById('card3box').style.opacity = 1;
                document.getElementById('card4box').style.opacity = 1;
                //document.getElementById('card1box').style.pointerEvents  = "auto";
                //document.getElementById('card2box').style.pointerEvents  = "auto";
                //document.getElementById('card3box').style.pointerEvents  = "inherit";
                //document.getElementById('card4box').style.pointerEvents  = "all";
            }
            function card2Flip()
            {
                alert("Card 2 is going to be flipped back .. !");
                document.getElementById('card2box').style.transform = "rotateY(0deg)";
                document.getElementById('Card2Flip').style.transform = "rotateY(180deg)";
                document.getElementById('card2box').style.opacity = 1;
                document.getElementById('Card2Flip').style.opacity = 0;
                //Makes everything clickable back again
                document.getElementById('smallContainer').style.pointerEvents = "auto";  //moves the clickables to the smaller container below
                document.getElementById('Card1Flip').style.pointerEvents = "auto";
                document.getElementById('Card4Flip').style.pointerEvents = "auto";
                document.getElementById('Card2Flip').style.pointerEvents = "auto";
                //Bring the cards colors back which were dimmed
                document.getElementById('card1box').style.opacity = 1;
                document.getElementById('card3box').style.opacity = 1;
                document.getElementById('card4box').style.opacity = 1;
            }
            function card3Flip()
            {
                alert("Card 3 is going to be flipped back .. !");
                document.getElementById('card3box').style.transform = "rotateY(0deg)";
                document.getElementById('Card3Flip').style.transform = "rotateY(180deg)";
                document.getElementById('card3box').style.opacity = 1;
                document.getElementById('Card3Flip').style.opacity = 0;
                //Makes everything clickable back again
                document.getElementById('smallContainer').style.pointerEvents = "auto";  //moves the clickables to the smaller container below
                document.getElementById('Card1Flip').style.pointerEvents = "auto";
                document.getElementById('Card4Flip').style.pointerEvents = "auto";
                document.getElementById('Card2Flip').style.pointerEvents = "auto";
                //Bring the cards colors back which were dimmed
                document.getElementById('card2box').style.opacity = 1;
                document.getElementById('card1box').style.opacity = 1;
                document.getElementById('card4box').style.opacity = 1;
            }
            function card4Flip()
            {
                alert("Card 4 is going to be flipped back .. !");
                document.getElementById('card4box').style.transform = "rotateY(0deg)";
                document.getElementById('Card4Flip').style.transform = "rotateY(180deg)";
                document.getElementById('card4box').style.opacity = 1;
                document.getElementById('Card4Flip').style.opacity = 0;
                //Makes everything clickable back again
                document.getElementById('smallContainer').style.pointerEvents = "auto";  //moves the clickables to the smaller container below
                document.getElementById('Card3Flip').style.pointerEvents = "auto";
                document.getElementById('Card4Flip').style.pointerEvents = "auto";
                document.getElementById('Card2Flip').style.pointerEvents = "auto";
                //Bring the cards colors back which were dimmed
                document.getElementById('card2box').style.opacity = 1;
                document.getElementById('card3box').style.opacity = 1;
                document.getElementById('card1box').style.opacity = 1;
            }

            
        </script>
        <!-- End of Scripts here -->
        <!-- ------------ -->
        <!-- Small container from from of cards starts here -->
        <div class="bigcontainer">
            <div id="Card1Flip" class="bigbox">
                <div id="Card1Flipper" class="bigdetails" onclick="card1Flip()">
                    <h2> Nature Selected</h2>
                    <h3> If the environment was your client, how would your product change? </h3>
                    <h3> What impact does [the product] have on the environment? </h3>
                    <h3> What is the most unsustainable behavior your product encourages? </h3>
                </div>
            </div>
            <div id="Card2Flip" class="bigbox" onclick="card2Flip()">
                <div id="Card2Flipped" class="bigdetails">
                    <h2> The Card 2 tEXt 
                    </h2>
                </div>
            </div>
            <div id="Card3Flip" class="bigbox">
                <div class="bigdetails" onclick="card3Flip()">
                    <h2> The card 3 tEXt 
                    </h2>
                </div>
                
            </div>
            <div id="Card4Flip" class="bigbox" onclick="card4Flip()">
                <div class="bigdetails">
                    <h2> The card 4 tEXt 
                    </h2>
                </div>
            </div>
        </div>
        <!-- Small container from from of cards starts here -->
        <div class="container" id="smallContainer">
            <div class="box" id="card1box">
                <div class="thumb">
                    <img src="image3.jpg">
                </div>
                <div id="Ndetails" class="details">
                    <div class="content">
                        <h3>Mother Nature</h3>
                        <button class="button" onclick="card1Click()"> Select Card</button>
                    </div>
                </div>
                <div class="card4Back">
                    <h1> Card 4 Back</h1>
                    <p> I have no questions </p>
                    <p> Thank you for participating!</p>
                </div>
            </div>
            <div class="box" id="card2box">
                <div class="thumb">
                    <img src="image3.jpg">
                </div>
                <div class="details">
                    <div class="content">
                        <h3>The Scandal</h3>
                        <a href="#" onclick="card2Click()">Select Card </a>
                    </div>
                </div>
            </div>
            <div class="box" id="card3box">
                <div class="thumb">
                    <img src="image1.jpg">
                </div>
                <div class="details">
                    <div class="content">
                        <h3>The Forgotten</h3>
                        <a id="demo" href="#" onclick="card3Click()">Select Card</a>
                    </div>
                </div>
            </div>
            <div class="box" id="card4box">
                <div class="thumb">
                    <img src="image3.jpg">
                </div>
                <div class="details">
                    <div class="content">
                        <h3>The Forgotten</h3>
                        <a href="#" onclick="card4Click()">Select Card</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of the small container-->
        <div>
        </div>
    </body>
</html>
