<div id="techChoiceMenu" class="techchoice">
    <div id="techChoiceHeader">
        <h2>We'd like to hear your experiences with different technologies. </h2>
        <p>Click below to choose the ones you would like to draw tarot cards for. </p>
        <div id="done-button" style="display: none">
            <input type="submit" value="Take me to the final page" class="btn btn-primary btn-lg" onclick="finish()">
        </div>
    </div>
    <!-- The four columns -->
    <div id="" name="category1" class="row">
        <h2 class="categorytitle"></h2>
        <div class="column" name="tech1">
            <img src="" name="" alt="" style="width:100%" onclick="selectTechnology(this);">
        </div>
        <div class="column" name="tech2">
            <img src="" name="" alt="" style="width:100%" onclick="selectTechnology(this);">
        </div>
        <div class="column" name="tech3">
            <img src="" name="" alt="" style="width:100%" onclick="selectTechnology(this);">
        </div>
        <div id="" name="tech4" class="column">
            <svg width="70%" viewBox="0 0 16 16" class="bi bi-file-plus" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg" onclick="">
                <path fill-rule="evenodd"
                      d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z"/>
                <path fill-rule="evenodd"
                      d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
            </svg>
            <img src="" name="" style="display:none; width:70%" onclick="selectTechnology(this)">
        </div>
    </div>
    <div id="" name="category2" class="row">
        <h2 class="categorytitle"></h2>
        <div class="column" name="tech1">
            <img src="" name="" alt="" style="width:100%" onclick="selectTechnology(this);">
        </div>
        <div class="column" name="tech2">
            <img src="" name="" alt="" style="width:100%" onclick="selectTechnology(this);">
        </div>
        <div class="column" name="tech3">
            <img src="" name="" alt="" style="width:100%" onclick="selectTechnology(this);">
        </div>
        <div id="" name= "tech4" class="column">
            <svg width="70%" viewBox="0 0 16 16" class="bi bi-file-plus" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg" onclick="showAddTech('dating')">
                <path fill-rule="evenodd"
                      d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z"/>
                <path fill-rule="evenodd"
                      d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
            </svg>
            <img src="" name="" style="display:none; width:70%" onclick="selectTechnology(this)">
        </div>
    </div>
    <div id="" name="category3" class="row">
        <h2 class="categorytitle"></h2>
        <div class="column" name="tech1">
            <img src="" name="" alt="" style="width:100%" onclick="selectTechnology(this);">
        </div>
        <div class="column" name="tech2">
            <img src="" name="" alt="" style="width:100%" onclick="selectTechnology(this);">
        </div>
        <div class="column" name="tech3">
            <img src="" name="" alt="" style="width:100%" onclick="selectTechnology(this);">
        </div>
        <div id="" name="tech4" class="column">
            <svg width="70%" viewBox="0 0 16 16" class="bi bi-file-plus" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg" onclick="showAddTech('transportation')">
                <path fill-rule="evenodd"
                      d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z"/>
                <path fill-rule="evenodd"
                      d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
            </svg>
            <img src="" name="" style="display:none; width:70%" onclick="selectTechnology(this)">
        </div>

    </div>
    <div id="" name="category4" class="row">
        <h2 class="categorytitle"></h2>
        <div class="column" name="tech1">
            <img src="" name="" alt="" style="width:100%" onclick="selectTechnology(this);">
        </div>
        <div class="column" name="tech2">
            <img src="" name="" alt="" style="width:100%" onclick="selectTechnology(this);">
        </div>
        <div class="column" name="tech3">
            <img src="" name="" alt="" style="width:100%" onclick="selectTechnology(this);">
        </div>
        <div id="" name="tech4" class="column">
            <svg width="70%" viewBox="0 0 16 16" class="bi bi-file-plus" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg" onclick="showAddTech('location')">
                <path fill-rule="evenodd"
                      d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z"/>
                <path fill-rule="evenodd"
                      d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
            </svg>
            <img src="" name="" style="display:none; width:70%" onclick="selectTechnology(this)">
        </div>

    </div>
</div>

<div id="addTech" class="modal" style="display: none">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">Add an App!</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeAddTech()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>Please select a store type and the name of the App you want to add:</h3><br>
                <input type="radio" id="option1" name="addtech" value="google">
                <label for="option1">Android</label><br>
                <input type="radio" id="option2" name="addtech" value="apple">
                <label for="option2">iPhone</label><br>
                <input type="text" id="addTechName">
            </div>
            <div id="addTechFooter" class="modal-footer">
                <img id="addTechImage" src="" name="" style="display: none; float: left; width: 100px">
                <span id="addTechImageName" style="float: left;margin: 5px;"></span>
                <input type="submit" value="Confirm" class="btn btn-primary btn-lg" onclick="selectNewTech()"
                       style="display: none">
                <input type="submit" value="Search" class="btn btn-primary btn-lg" onclick="searchNewTech()">
            </div>
        </div>
    </div>
</div>

<div id="techForm" class="modal" style="display: none">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title" onclick="showTechMenu()">Click here to change the technology selection</span>
            </div>
            <div class="modal-body">
                <h4 id="techFormQ1"></h4>
                <div id="techFormUse" data-toggle="buttons" class="btn-group">
                    <label class="btn btn-primary active"><input type="radio" name="techuse" value="daily"> Daily</label>
                    <label class="btn btn-primary active"><input type="radio" name="techuse" value="often"> Often</label>
                    <label class="btn btn-primary active"><input type="radio" name="techuse" value="sometimes"> Sometimes</label>
                    <label class="btn btn-primary active"><input type="radio" name="techuse" value="never"> Never</label>
                </div>
                <hr>
                <h4 id="techFormQ2"></h4>
                <div id="techFormFeeling" data-toggle="buttons" class="btn-group">
                    <label class="btn btn-primary active"><input type="radio" name="techfeeling" value="-2"> Very negative</label>
                    <label class="btn btn-primary active"><input type="radio" name="techfeeling" value="-1"> Negative</label>
                    <label class="btn btn-primary active"><input type="radio" name="techfeeling" value="0"> Neutral</label>
                    <label class="btn btn-primary active"><input type="radio" name="techfeeling" value="1"> Positive</label>
                    <label class="btn btn-primary active"><input type="radio" name="techfeeling" value="2"> Very positive</label>
                </div>
            </div>
            <div id="addTechFooter" class="modal-footer">
                <input type="submit" value="Submit" class="btn btn-primary btn-lg" onclick="saveTechForm()">
            </div>
        </div>
    </div>
</div>

<div id="tarotCards" style="display: none">
    <div id="topOfCards" style="padding-bottom: 10px">
        <div class="cardsheader">
            <h2>You are reading tarot cards for:</h2>
            <img src="">
        </div>
        <p style="text-align: center"> Click on any card to select it. Click it again to flip it back.</p>
        <p style="text-align: center; font-weight: bold"> Use card questions as prompts, so answer as many or as feel as you like.</p>
        <div id="submitAnswersDiv" style="display: none; justify-content: center">
            <input type="submit" value="Submit Answers" class="btn btn-primary btn-lg" onclick="submitAnswers()" style="margin: 5px">
        </div>
    </div>

    <div id="cardContainer" class="cardcontainer">
        <div class="card" id="card1Box">
            <div class="thumb">
                <img src="img/card-Catalyst.png" onclick="cardClick('card1')" style="position: absolute">
                <svg viewBox="0 0 16 16" class="bi bi-check-circle-fill" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg"
                     style="position: absolute; top: 0; left: 0; margin: 10px; display: none" width="10%">
                    <path fill-rule="evenodd"
                          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
                </svg>
            </div>
        </div>
        <div id="card1Flip" class="card" onclick="cardFlip2('card1')" style="display: none; background-color: #11f897">
            <div class="flipped"></div>
        </div>

        <div class="card" id="card2Box">
            <div class="thumb">
                <img src="img/card-Forgotten.png" onclick="cardClick('card2')" style="position: absolute">
                <svg viewBox="0 0 16 16" class="bi bi-check-circle-fill" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg"
                     style="position: absolute; top: 0; left: 0; margin: 10px; display: none" width="10%">
                    <path fill-rule="evenodd"
                          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
                </svg>
            </div>
        </div>
        <div id="card2Flip" class="card" onclick="cardFlip2('card2')" style="display: none; background-color: #ffbe9f">
            <div class="flipped"></div>
        </div>

        <div class="card" id="card3Box">
            <div class="thumb">
                <img src="img/card-RadioStar.png" onclick="cardClick('card3')" style="position: absolute">
                <svg viewBox="0 0 16 16" class="bi bi-check-circle-fill" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg"
                     style="position: absolute; top: 0; left: 0; margin: 10px; display: none" width="10%">
                    <path fill-rule="evenodd"
                          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
                </svg>
            </div>
        </div>
        <div id="card3Flip" class="card" onclick="cardFlip2('card3')" style="display: none; background-color: #aedf2a">
            <div class="flipped"></div>
        </div>

        <div class="card" id="card4Box">
            <div class="thumb">
                <img src="img/card-ServiceDog.png" onclick="cardClick('card4')" style="position: absolute">
                <svg viewBox="0 0 16 16" class="bi bi-check-circle-fill" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg"
                     style="position: absolute; top: 0; left: 0; margin: 10px; display: none" width="10%">
                    <path fill-rule="evenodd"
                          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
                </svg>
            </div>
        </div>
        <div id="card4Flip" class="card" onclick="cardFlip2('card4')" style="display: none; background-color: #ff9400">
            <div class="flipped"></div>
        </div>
    </div>

    <div id="bellowCards" class="cardbottom">
        <div id="textboxArea" style="display: none; padding: 10px; border-radius: 10px;">
            <h3>Please enter you answers below:</h3>
            <textarea id="txtAnswer" type="text" style="width: 90%"></textarea>
            <input type="submit" value="Save" class="btn btn-primary btn-lg" onclick="saveCardAnswer()" style="margin: 5px">
        </div>
    </div>

</div>

<div id="tarotAnswer" class="modal" style="display: none">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">Answer as many questions you want!</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeCardAnswer()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="cardAnswerBody" class="modal-body">
                <div id="cardAnswerQuestions" style="display: block"></div>
                <textarea id="cardAnswerTxt" type="text" style="width: 90%; height: 300px"></textarea>
            </div>
            <div id="cardAnswerFooter" class="modal-footer">
                <input type="submit" value="Cancel" class="btn btn-primary btn-lg" onclick="closeCardAnswer()">
                <input type="submit" value="Save" class="btn btn-primary btn-lg" onclick="saveCardAnswer2()">
            </div>
        </div>
    </div>
</div>


<script>
    const NOT_FOUND_IMG = 'img/bullhorn.svg';
    var cards_info = [
        {
            name:"The Catalyst",
            questions:[
                "How has your culture affected how [THE_PRODUCT] is used? How has it changed your culture?",
                "How has [THE_PRODUCT] changed your environment and its features?",
                "How has [THE_PRODUCT] changed  the cultural habits (social norms, etiquette, or traditions) of your communities?"
            ],
            color: "#11f897"
        },
        {
            name:"The Forgotten",
            questions:[
                "Do people in different areas experience [THE_PRODUCT] differently?",
                "Who can't use [THE_PRODUCT]?",
                "How could [THE_PRODUCT] be changed to better serve all users? Especially any unserved users?"
            ],
            color: "#ffbe9f"
        },
        {
            name:"The Radio Star",
            questions:[
                "Who or what disappears when [THE_PRODUCT] is successful?",
                "Who lost their job because of [THE_PRODUCT]? What other products or services have been replaced?",
                "What industries, institutions or policies have been affected by [THE_PRODUCT]?"
            ],
            color: "#aedf2a"
        },
        {
            name:"The Service Dog",
            questions:[
                "If [THE_PRODUCT] was entirely dedicated to empowering the lives of an underserved population, what kind of impact could it make?",
                "How could [THE_PRODUCT] be designed to empower you and your community?",
                "Who could most benefit from the use of [THE_PRODUCT]? How could it be redesigned to serve them?",
            ],
            color: "#ff9400"
        },
    ];

    var technologies = {
        commerce: {
            id: 'local-commerce',
            name: 'Local Commerce',
            apps: [
                {image: 'img/tech-fbmarketplace.jpg', name: 'FacebookMarketplace',
                    description: 'Facebook Marketplace is an embedded Facebook app to buy and sell items or services.'},
                {image: 'img/tech-offerup.png', name: 'OfferUp',
                    description: 'OfferUp is an online mobile-first marketplace with an emphasis on in-person transactions.'},
                {image: 'img/tech-nextdoor.png', name: 'Nextdoor',
                    description: 'Nextdoor is a hyperlocal social networking service for neighborhoods'},
            ]
        },
        dating: {
            id: 'dating',
            name: 'Dating',
            apps: [
                {image: 'img/tech-tinder.png', name: 'Tinder',
                    description: 'Tinder is an online dating application that allows users to anonymously swipe to like or dislike other profiles based on their photos, a small bio, and common interests.'},
                {image: 'img/tech-grindr.png', name: 'Grindr',
                    description: 'Grindr is an online dating application geared towards gay, bi and trans people.'},
                {image: 'img/tech-farmersonly.png', name: 'FarmersOnly',
                    description: 'FarmersOnly is a niche dating site that aims to help rural dwellers find dates with singles who understand their lifestyle and uphold the same values.'},
            ]

        },
        transportation: {
            id: 'transportation',
            name: 'Transportation',
            apps: [
                {image: 'img/tech-lyft.png', name: 'Lyft',
                    description: 'Lyft is a ridesharing company offering car rides, scooters, a bicycle-sharing system, and a food delivery service.'},
                {image: 'img/tech-uber.jpg', name: 'Uber',
                    description: 'Uber is a ride-hailing company offering ridesharing, ride service hailing, food delivery, and a micromobility system with electric bikes and scooters.'},
                {image: 'img/tech-libretaxi.png', name: 'LibreTaxi',
                    description: 'LibreTaxi is a free and open source alternative to Uber/Lyft connecting passengers and drivers.'},
            ]

        },
        location: {
            id: 'location',
            name: 'Location-based',
            apps: [
                {image: 'img/tech-pokemon.jpg', name: 'PokemonGo',
                    description: 'Pokémon Go is a 2016 augmented reality mobile game.'},
                {image: 'img/tech-gmaps.png', name: 'GoogleMaps',
                    description: 'Google Maps is a web mapping service developed by Google.'},
                {image: 'img/tech-yelp.png', name: 'Yelp',
                    description: 'Yelp is a website and mobile app publish crowd-sourced reviews about businesses.'},
            ]

        }
    };
    var all_answers = {};
    var tech_answers = {};

    function selectTechnology(image) {
        var technology = image.name;
        var selected = $('#techChoiceMenu img[name="' + technology + '"]');

        setupCards(technology);
        $('#techChoiceMenu img').css('filter', 'grayscale(1)');
        selected.css('filter', 'grayscale(0)');

        if (technology in all_answers) {
            tech_answers = all_answers[technology];
        } else {
            tech_answers = resetAnswers();
            tech_answers.tech = technology;
            tech_answers.category = selected.parent().parent().attr('id');
            //IF app was added by user
            if(selected.parent().attr('name') === 'tech4') {
                tech_answers['app_code'] = selected.attr('app_code');
                tech_answers['app_search'] = selected.attr('app_search');
            }
        }
        if (selected.attr('src') !== NOT_FOUND_IMG) {
            $('#topOfCards img').attr('src', selected.attr('src'));
        }
        $('#topOfCards img').attr('alt', selected.attr('name'));

        $('#techFormQ1').text("How often do you use " + technology + "?");
        $('#techFormQ2').text("What is your general feeling about " + technology + "?");
        $('#techForm').show();
        showSubmitAnswers();
    }

    function setupCards(technologyName) {
        var flippedCards = $("[id^=card] [id$=Flip]");
        var currentHTML = "";
        for(card=0; card<4; card++){
            currentHTML += "<div class='flipped'>";
            currentHTML += "<h3>" + cards_info[card].name + "</h3>";
            for(question of cards_info[card].questions) {
                //TODO Substitute for real APP name when coming from STORE search (i.e., for 'tech4')
                currentHTML += "<p>" + question.replace("[THE_PRODUCT]", "\"" + technologyName + "\"") + "</p><br>";
            }
            currentHTML += "</div>";
            flippedCards[card].innerHTML = currentHTML;
            currentHTML = "";
        }
    }

    function showAddTech(techCategorykey) {
        $('#techChoiceMenu img').css('filter', 'grayscale(1)');
        $('#addTech-'+ techCategorykey +' svg').attr('fill','blue');
        $('#addTech').attr('name', techCategorykey);
        $('#addTech').show();
    }

    function searchNewTech() {
        let storeSelection = $('input[name="addtech"]:checked');
        let searchTerm = $('#addTechName')[0].value;
        if (storeSelection.length > 0 && searchTerm.trim() !== '') {
            let store = storeSelection[0].value;
            searchAppStore(searchTerm, store);
        } else {
            $('#addTech h3').animate({opacity:0}, 200, "linear", function(){
                $(this).animate({opacity:1}, 200);
            });
        }
    }

    function searchAppStore(searchTerm, appStore) {
        let searchURL = 'http://www.tmp12345.labinthewild.org/include/get_appstore.php?search='
                + searchTerm + '&store=' + appStore;
        let addTechImage = $('#addTechImage');
        let addTechImageName = $('#addTechImageName');
        $.ajax({
            url: encodeURI(searchURL),
            method: 'GET',
            crossDomain: true,
            beforeSend: function() {
                addTechImage.attr('src', 'img/ajax-loader.gif');
                addTechImage.show();
            },
            success: function(data, status){
                console.log(data);
                addTechImage.attr('src', data['app_image']);
                addTechImage.attr('name', data['app_name']);
                addTechImage.attr('app_code', appStore + '_' + data['app_id']);
                addTechImage.attr('app_search', searchTerm);
                addTechImage.show();
                addTechImageName.text(data['app_name']);
                $("#addTechFooter input").show();
            },
            error: function (data, status, error) {
                console.log(data);
                addTechImage.attr('src', 'img/x.svg');
                addTechImage.attr('name', searchTerm);
                addTechImage.attr('app_code', appStore);
                addTechImage.attr('app_search', searchTerm);
                addTechImage.show();
                addTechImageName.text('Sorry! Could not find it. You can try again or confirm it as it is!');
                $("#addTechFooter input").show();
            }
        });
    }

    function closeAddTech() {
        let chosenTechImage = $("#addTechImage");
        $('input[name="addtech"]').prop("checked", false);
        $('#addTechName')[0].value = '';
        $('#addTech').hide();
        $('#addTech').attr('name', '');
        chosenTechImage.attr('src', '');
        chosenTechImage.attr('name', '');
        chosenTechImage.hide();
        $("#addTechImageName").text('');
        $('#addTechFooter input[value="Confirm"]').hide();
        showTechMenu();
    }

    function selectNewTech() {
        let chosenTechImage = $("#addTechImage");
        let techImage = chosenTechImage.attr('src');
        if (techImage.includes('x.svg')) {
            techImage = NOT_FOUND_IMG;
        }
        let category = $('#addTech').attr('name');
        $('#addTech-'+ category +' svg').hide();
        let addTechImage = $('#addTech-'+ category +' img');
        addTechImage.attr('src', techImage);
        addTechImage.attr('name', chosenTechImage.attr('name'));
        addTechImage.attr('app_code', chosenTechImage.attr('app_code'));
        addTechImage.attr('app_search', chosenTechImage.attr('app_search'));
        addTechImage.show();
        closeAddTech();
    }

    function saveTechForm() {
        var selectedUse = $("#techFormUse input:checked");
        var selectedFeeling = $("#techFormFeeling input:checked");
        tech_answers.use = selectedUse.val();
        tech_answers.feeling = selectedFeeling.val();
        console.log(tech_answers);

        if( tech_answers.use && tech_answers.feeling) {
            selectedUse.prop("checked", false);
            $("#techFormUse label").addClass('active');
            selectedFeeling.prop("checked", false);
            $("#techFormFeeling label").addClass('active');
            $('#techForm').hide();
            $('#techChoiceMenu').hide();
            $('#tarotCards').show();
        } else {
            $('#techForm h4').animate({opacity:0}, 200, "linear", function(){
                $(this).animate({opacity:1}, 200);
            });
        }
    }

    function cardClick(card) {
        tech_answers.current_card = card;
        var cardIndex = Number(card[card.length-1]);
        var cardInfo = cards_info[cardIndex-1];
        var cardQuestionsHTML = "";
        for (question of cardInfo.questions) {
            if (cardQuestionsHTML.length == 0) cardQuestionsHTML += "<p style='font-weight: bold;'>";
            else cardQuestionsHTML += "<p>"
            cardQuestionsHTML += question.replace("[THE_PRODUCT]", "\"" + tech_answers.tech + "\"") + "</p>";
        }
        $('#tarotAnswer .modal-content').css("background-color", cardInfo.color);
        $('#cardAnswerQuestions').html(cardQuestionsHTML);
        $('#cardAnswerTxt').val(tech_answers[tech_answers.current_card]);
        $('#tarotAnswer').show();
    }

    function cardClick2(card) {
        cardsReset2();
        tech_answers.current_card = card;
        var cardBox = $('#' + card + 'Box');
        var cardFlip = $('#' + card + 'Flip');

        cardBox.hide()
        cardFlip.show();
        $('#txtAnswer').val(tech_answers[tech_answers.current_card]);
        let cardColor = $('#'+card+'Flip').css('background-color');
        $('#textboxArea').css('background-color', cardColor).show();

        $('#controlButtons').hide();
    }

    function cardFlip(card) {
        tech_answers.current_card = '';
        var cardBox = $('#' + card + 'Box');
        var cardFlip = $('#' + card + 'Flip');

        $('#flipContainer').hide();
        cardBox.css('opacity', 1);
        cardFlip.css('opacity', 0);
        cardFlip.hide();
        $('#textboxArea').hide();
        $('#controlButtons').show();
    }

    function cardFlip2(card) {
        tech_answers.current_card = '';
        var cardBox = $('#' + card + 'Box');
        var cardFlip = $('#' + card + 'Flip');

        cardBox.show();
        cardFlip.hide();
        $('#textboxArea').hide();
        $('#controlButtons').show();
    }

    function closeCardAnswer() {
        $('#tarotAnswer').hide();
    }

    function showSubmitAnswers() {
        var showDiv = $("#submitAnswersDiv");
        showDiv.hide();
        for (cardName of ['card1', 'card2', 'card3', 'card4']) {
            if(tech_answers[cardName].trim() !== '') {
                showDiv.css("display", "flex");
                break;
            }
        }
    }

    function saveCardAnswer() {
        let answer = $('#txtAnswer').val().trim();
        let cardCheck = $('#' + tech_answers.current_card + 'Box svg');
        if (answer.length > 0) {
            cardCheck.show();
        } else {
            cardCheck.hide();
        }
        tech_answers[tech_answers.current_card] = answer;
        console.log('ANSWERS: ' + JSON.stringify(tech_answers));
        cardsReset2();
        showSubmitAnswers();
    }

    function saveCardAnswer2() {
        let answer = $('#cardAnswerTxt').val().trim();
        let cardCheck = $('#' + tech_answers.current_card + 'Box svg');
        if (answer.length > 0) {
            cardCheck.show();
        } else {
            cardCheck.hide();
        }
        tech_answers[tech_answers.current_card] = answer;
        console.log('ANSWERS: ' + JSON.stringify(tech_answers));
        closeCardAnswer();
        showSubmitAnswers();
    }

    function cardsReset() {
        $("div[id$='Box']").css('opacity', 1);
        $("div[id$='Flip']").css('opacity', 0);
        $("div[id$='Flip']").hide();
        $('#flipContainer').hide();
        $('#textboxArea').hide();
        $('#controlButtons').show();
    }

    function cardsReset2() {
        $("div[id$='Box']").show();
        $("div[id$='Flip']").hide();
        $('#textboxArea').hide();
        $('#controlButtons').show();
    }

    function resetAnswers() {
        $("div[id$='Box'] svg").hide();
        return {
            tech: '',
            category: '',
            current_card: '',
            use: '',
            feeling: '',
            card1: '',
            card2: '',
            card3: '',
            card4: ''
        };
    }

    function changeTech() {
        tech_answers = resetAnswers();
        cardsReset2();
        $('#tarotCards').hide();
        showTechMenu();
    }

    function showTechMenu() {
        $('#techForm').hide();
        $('#techChoiceMenu svg').attr('fill','black');
        $('#techChoiceMenu img').css('filter', 'grayscale(0)');
        let techs = Object.keys(all_answers);
        for (index in techs) {
            $('#techChoiceMenu img[name="' + techs[index] + '"]').css('filter', 'grayscale(1)');
        }
        $('#techChoiceMenu').show();
        if(techs.length > 0) {
            $('#techChoiceHeader h2').text("Congrats! You've completed your first technology tarot card session!");
            $('#techChoiceHeader p').text("If you would like to participate in another session for a different technology, " +
                "go ahead and select one below! OR Short on time? Feel free to check out what others have said!");
            $('#done-button').show().focus();
        }
        if(techs.length > 1) {
            $('#techChoiceHeader     h2').text("Awesome! You've completed another technology tarot card session!");
        }
    }

    function submitAnswers() {
        delete tech_answers.current_card;
        all_answers[tech_answers.tech] = tech_answers;
        LITW.data.submitStudyData(tech_answers);
        let toDeactivate = $('#techChoiceMenu img[name="' + tech_answers.tech + '"]');
        toDeactivate.prop('onclick', null).off('click');
        changeTech();
    }

    function finish() {
        LITW.study.sharedData.taroAnswers = all_answers;
        $("#pickTechnology").empty();
        jsPsych.finishTrial();
    }

    function shuffleApps(){
        let categories = LITW.utils.shuffleArrays(Object.keys(technologies));
        for(let index = 1; index <= categories.length; index++) {
            let categoryID = 'category'+ index;
            let category = technologies[categories[index-1]];
            $('div[name="' + categoryID + '"]').attr('id', 'tech-' + category['id']);
            $('div[name="' + categoryID + '"] h2').html(category['name']);
            $('div[name="' + categoryID + '"] div[name="tech4"]').attr('id', 'addTech-' + category['id']);
            $('div[name="' + categoryID + '"] div[name="tech4"] svg')
                .attr('onclick', 'showAddTech("' + category['id'] + '")');

            let apps = LITW.utils.shuffleArrays(category['apps']);
            for(let index = 1; index <= apps.length; index++) {
                let app = $('div[name="' + categoryID + '"] div[name="tech' + index + '"] img');
                app.attr('src', apps[index-1].image);
                app.attr('name', apps[index-1].name);
                app.attr('alt', apps[index-1].description);
            }
        }
    }

    shuffleApps();
</script>