<!-- This page represents slide 4  -->
<!-- Content:  -->
<!--          The technology picked  -->
<!--          logo  -->
<!--          Short description  -->
<!--          Familiarity drop down menu  -->
<h2 class="bolded-blue" data-i18n="litw-instruct-header"></h2>

<div class="instructions-stim-container">
	<img src="img/stim-img/platform1_fbm.png" />
</div>

{{#if withTouch}}
	<p data-i18n="litw-instruct-body-2-p1-touch"></p>
	<p class="bolded-blue" data-i18n="litw-instruct-body-2-p2-touch"></p>
{{else}}
    <p data-i18n="litw-instruct-body-2-p1"></p>
    <p class="bolded-blue" data-i18n="litw-instruct-body-2-p2"></p>
{{/if}}
{{#if withTouch}}
	<p data-i18n="litw-instruct-body-2-p1-touch"></p>
	<p class="bolded-blue" data-i18n="litw-instruct-body-2-p2-touch"></p>
{{else}}
    <p data-i18n="litw-instruct-body-2-p1"></p>
    <p class="bolded-blue" data-i18n="litw-instruct-body-2-p2"></p>
{{/if}}


