<h2>Before we take you to other people's answers...</h2>
<h4>Can you tell us about any apps that you have not been able to use even though you would like to or that you use in different ways than what they were intended for?</h4>
<p>For example, are there any apps that do not work where you live or apps that you have started to use for different purposes?</p>

<ul id="tech-list" class="list-group">
</ul>

<h4>Would you like to add technologies to this list?</h4>
<input id="buttonAdd" type="submit" value="YES" class="btn btn-primary btn-lg" onclick="openDialog()">
<input id="buttonFinish" type="submit" value="NO" class="btn btn-primary btn-lg" onclick="saveAndFinish()">

<div id="addTech" class="modal" style="display: none">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">Add an App!</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeAddTech()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Please select a store type and the name of the App you want to add:</h4><br>
                <input type="radio" id="option1" name="addtech" value="google">
                <label for="option1">Android</label><br>
                <input type="radio" id="option2" name="addtech" value="apple">
                <label for="option2">iPhone</label><br>
                <input type="text" id="addTechName">
            </div>
            <div id="addTechFooter" class="modal-footer">
                <img id="addTechImage" src="" name="" style="display: none; float: left; width: 100px">
                <span id="addTechImageName" style="float: left;margin: 5px;"></span>
                <input type="submit" value="Confirm" class="btn btn-primary btn-lg" onclick="addTech()"
                       style="display: none">
                <input type="submit" value="Search" class="btn btn-primary btn-lg" onclick="searchNewTech()">
            </div>
        </div>
    </div>
</div>

<script>

    let currentTech;
    var technologies = [];

    function openDialog() {
        $('#addTech').show();
    }

    function saveAndFinish() {
        LITW.data.submitStudyData({want_tech: technologies});
        jsPsych.finishTrial();
    }

    function searchNewTech() {
        let storeSelection = $('input[name="addtech"]:checked');
        let searchTerm = $('#addTechName')[0].value;
        if (storeSelection.length > 0 && searchTerm.trim() !== '') {
            let store = storeSelection[0].value;
            searchAppStore(searchTerm, store);
        } else {
            $('#addTech h4').animate({opacity:0}, 200, "linear", function(){
                $(this).animate({opacity:1}, 200);
            });
        }
    }

    function searchAppStore(searchTerm, appStore) {
        let searchURL = 'http://www.tmp12345.labinthewild.org/include/get_appstore.php?search='
                + searchTerm + '&store=' + appStore;
        let addTechImage = $('#addTechImage');
        let addTechImageName = $('#addTechImageName');
        $.ajax({
            url: encodeURI(searchURL),
            method: 'GET',
            crossDomain: true,
            beforeSend: function() {
                addTechImage.attr('src', 'img/ajax-loader.gif');
                addTechImage.show();
            },
            success: function(data, status){
                console.log(data);
                currentTech = data;
                addTechImage.attr('src', data['app_image']);
                addTechImage.attr('name', appStore + '_' + data['app_id']);
                addTechImage.show();
                addTechImageName.text(data['app_name']);
                $("#addTechFooter input").show();
            },
            error: function (data, status, error) {
                console.log(data);
                currentTech = {
                    store: appStore,
                    search_term: searchTerm,
                    app_name: searchTerm
                };
                addTechImage.attr('src', 'img/x.svg');
                addTechImage.attr('name', appStore + '_' + searchTerm);
                addTechImage.show();
                addTechImageName.text('Sorry! Could not find it. You can try again or confirm it as it is!');
                $("#addTechFooter input").show();
            }
        });
    }

    function addTech() {
        technologies.push(currentTech);
        updateList();
        closeAddTech();
    }


    function updateList() {
        let list = '';
        for(item of technologies) {
            list += "<li class=\"list-group-item\">" + item['app_name'] +  "</li>";
        }
        $('#tech-list').html(list);
    }

    function closeAddTech() {
        let chosenTechImage = $("#addTechImage");
        $('input[name="addtech"]').prop("checked", false);
        $('#addTechName')[0].value = '';
        $('#addTech').hide();
        $('#addTech').attr('name', '');
        chosenTechImage.attr('src', '');
        chosenTechImage.attr('name', '');
        chosenTechImage.hide();
        $("#addTechImageName").text('');
        $('#addTechFooter input[value="Confirm"]').hide();
    }

</script>